<div class="mobile-menu-button">
</div>
<nav>
    <a href="#" class="gorizontal-menu__item">
      <span>Ссылки</span>
      <img src="/assets/icons/menu-item-arrow.svg" alt="">
    </a>
    <a href="#" class="gorizontal-menu__item">
      <span>Контакты</span>
      <img src="/assets/icons/menu-item-arrow.svg" alt="">
    </a>
    <a href="#" class="gorizontal-menu__item">
      <span>Теги</span>
      <img src="/assets/icons/menu-item-arrow.svg" alt="">
    </a>
    <a href="#" class="gorizontal-menu__item">
      <span>Просьбы</span>
      <img src="/assets/icons/menu-item-arrow.svg" alt="">
    </a>
    <a href="#" class="gorizontal-menu__item">
      <span>Избранное</span>
      <img src="/assets/icons/menu-item-arrow.svg" alt="">
    </a>
    <a href="#" class="gorizontal-menu__item">
      <span>Посещения</span>
      <img src="/assets/icons/menu-item-arrow.svg" alt="">
    </a>
    
  </nav>